/* reset */
html,body,h1,h2,h3,h4,h5,h6,div,dl,dt,dd,ul,ol,li,p,blockquote,pre,hr,figure,table,caption,th,td,form,fieldset,legend,input,button,textarea,menu{margin:0;padding:0;}
header,footer,section,article,aside,nav,hgroup,address,figure,figcaption,menu,details{display:block;}
table{border-collapse:collapse;border-spacing:0;}
caption,th{text-align:left;font-weight:normal;}
html,body,fieldset,img,iframe,abbr{border:0;}
i,cite,em,var,address,dfn{font-style:normal;}
[hidefocus],summary{outline:0;}
li{list-style:none;}
/*h1,h2,h3,h4,h5,h6,small{font-size:100%;}*/
sup,sub{font-size:83%;}
pre,code,kbd,samp{font-family:inherit;}
q:before,q:after{content:none;}
textarea{overflow:auto;resize:none;}
label,summary{cursor:default;}
a,button{cursor:pointer;}
h1,h2,h3,h4,h5,h6,em,strong,b{font-weight:bold;}
del,ins,u,s,a,a:hover{text-decoration:none;}
body,textarea,input,button,select,keygen,legend{font:12px/1.14 arial,\5b8b\4f53;color:#333;outline:0;}
body{background:#fff;}
a,a:hover{color:#333;}
html,body{height: 100%;}
body{position: relative;min-height: 500px;}
body{color:#666;font-family: Tahoma, '微软雅黑';-webkit-font-smoothing:antialiased;-webkit-text-size-adjust: none;}
html, body {
    height: 100%;
    background: #f4f4f4;
    background-size: cover;
    background-position: 50% 50%;
    color: #3a4a59;
    font: 14px/1.5 Helvetica, Arial, Tahoma'微软雅黑';
}
.fl{float: left;}
.fr{float: right;}
.db{display: inline-block;}
@font-face {
  font-family: 'iconfont';  /* project id 150678 */
  src: url('//at.alicdn.com/t/font_2c0qrohgouz3erk9.eot');
  src: url('//at.alicdn.com/t/font_2c0qrohgouz3erk9.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_2c0qrohgouz3erk9.woff') format('woff'),
  url('//at.alicdn.com/t/font_2c0qrohgouz3erk9.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_2c0qrohgouz3erk9.svg#iconfont') format('svg');
}
.iconfont {
  font-family:"iconfont" !important;
  font-size:22px;
  font-style:normal;
  color: #ea5404;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.clear{clear: both;width: 0;height: 0;}